
/* Basic Styles */
body {
    font-family: objektiv-mk1, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size:0.9rem;
    color:white;
    background-color:white;
}
main{
    height:100%;
}
.row {
    margin:0;
}
.col-lg-4 {
    padding:0;
}
.container-fluid {
    padding:0;
}

.max-img{
    width:100%;
    height:100%;
}

.header-font{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sub-head {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sub-font {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:0.9rem;
}
hr {
    background-color: white;
}

/* Slanted */
.slantedA{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #2E2E2E;
    color: white;
    margin-bottom: 5rem;
}

.slantedA:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}

.slantedB{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    color: black;
}

.slantedB:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: skewY(4deg);
}

.slantedC{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    color: white;
    transform: skewY(4deg);
}
.correctionC {
    transform: skewY(-4deg);
    margin-bottom: 5rem;
}
/* Parallax */
.parallax { 
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.par-view {
    height:100vh;
}
.par1 {
    background-image: url('../img/M19_0389_fine.jpg');
}
.par2 {
    background-image: url('../img/86(4).jpg');
}
.par3 {
    background-image: url('../img/M18_4002_fine.png');
}
.par4 {
    background-image: url('../img/M18_0385_fine.png');
}
/* Nav Icon */
.animated-icon2{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}
.animated-icon2 span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}
.animated-icon2 span {
background:white;
}
.animated-icon2 span:nth-child(1) {
top: 0px;
}
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}
.animated-icon2 span:nth-child(4) {
top: 20px;
}
.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}
.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Navigation */
.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in; 
}

.navbar.grow {
    background-color:rgba(0,0,0,0.6);
    transition: all 0.2s ease-in; 
}
.nav-logo.grow {
    width:6rem;
    height:6rem;
    transition: all 0.2s ease-in; 
}
.nav-logo {
    width:5rem;
    height:5rem;
    transition: all 0.2s ease-in; 
}
.animated-icon2 span:hover {
    background: red;
}

.navbar-nav .nav-item .nav-link:hover {
    color:red !important;
}
/* Introduction */
.bg-container-intro {
    height:750px;
}
.bg-intro, .bg-blogs {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-intro {
    background-image: url("../img/86.jpg");
    background-position-x: -16rem;
}
.intro-text {
    position: absolute;
    top: -24%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 300px;
    margin: auto;
}
.intro-text h1{
    font-size: 3.2rem;
}
.intro-text p {
    font-size: 1.2rem;
}
.video {
    width:100%;
    height:100%;
}

.video-overlay {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}  
.video-overlay video {
    width: 100%;
    display: block;
}

.video-overlay:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo-overlay {
    position: absolute;
    opacity: 0.1;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}

/* About */
#about #about-text{
    text-align: center;
}
#about .max-img {
    padding-top: 10rem;
}
#about .par-view {
    height:90rem;
}
#about h2.header-font{
    font-size: 1.8rem;
}
#about h4.sub-head{
    font-size: 1.1rem;
}
.img-depth {
    -webkit-box-shadow: 0 27px 24px 0 rgba(240, 5, 5,.2),0 20px 50px 0 rgba(0,0,0,.22)!important;
    box-shadow: 0 27px 24px 0 rgba(240, 5, 5, 0.2),0 20px 50px 0 rgba(0,0,0,.22)!important;
}
#about .col-sm-6.col-lg-3.offset-lg-1 {
    padding-bottom:4rem;
}
#about .correctionC{
    margin:0;
}

/* News */
#news .col-lg-6{
    padding: 1rem;
}

#news .img-fluid #news-articals .img-fluid{
    width:100%;
    height: 100%;
}

.stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
}
.outline-red {
    border: 2px solid red;
    background-color: transparent;
    color: white;
}
.outline-red:hover {
    color:red;
}
.view {
    height:100%
}
#news .card.collection-card, #news-articals .card.collection-card{
    height:auto;
}

/* Partners */
#partners .header-font {
    color:black;
}
#partners .col-sm-6{
    padding:0;
}
#partners {
    height: 42rem;
}
.partner-dimentions {
    width:70%;
    padding:2rem;
}

/* contact */
#contact .md-form{
    color:white;
}
.md-form input[type=text]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label{
    color:red;
}
.md-form input[type=text]:focus:not([readonly]),.md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 red;
    border-bottom:1px solid red;
}

/* footer */
.social-icon {
    transition: all 0.5s ease-in;
    color:white;
}
.social-icon:hover {
    transition: all 0.5s ease-in;
    color:red;
}
footer.page-footer {
    color:black;
}
/* Blogs Page */
#blogs {
    height:50rem;
}
.bg-container-blogs {
    height:100%;
}
.bg-blogs {
    background-image: url("../img/86(4).jpg");
}
.news-head {
    line-height: 38rem;
}

#news-articals .col-md-6, #news-articals .col-md-4{
    padding:0;
    margin:0;
}
#blogs .bg-blogs .row{
    height:100%;
}
#news-articals .img-fluid{
    width:100%;
}
/* News artical */
.bg-artical1 {
    background-image: url("../img/86(1).jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-container-articals {
    height:100%;
}
.artical-head-row{
    height: 100%;
}
.artical-head-cont {
    height: 100%;
    padding: 300px 0;
}
.title-img {
    width: 30px;
}
#artical h1.header-font {
    font-size:1.5rem;
}
/* Archive */
/* gallary */

#articals .col-md-6{
    padding:0px;
}

.bg-artical-2019 {
    background-image: url("../img/86(2).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#related-news h3{
    font-size: 1rem;
}
/* News Gallery */

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } 
    .navbar-toggler {
        order:2;
    }
    .navbar-expand-md .navbar-toggler {
        display: inline-block;
    }
    .collapseExample {transition: none;}
}
.carousel-multi-item-2 .card img {
border-radius: 2px; }

@media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
}
@media screen and (max-width:575px) {
    #news h3 {
        font-size: 1rem;
    }
    #news p {
        font-size: 0.6rem;
        margin:0;
    }
    #news .col-lg-6{
        padding: 0.5rem;
    }
}
/* Media */
@media (min-width:576px) and (max-width:767px) {
    #partners {
        height: 20rem;
    }
    #about #about-text{
        order:0;
        text-align: right;
    }
}
@media (min-width:576px) and (max-width:682px){
    #about .par-view {
        height:62rem;
    }
    #about .max-img {
        padding-top: 27.5rem;
    }
}
@media (min-width:683px) and (max-width:767px) {
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:62rem;
    }
    #about .max-img {
        padding-top: 22.5rem;
    }
}
@media (min-width:768px) {
    .title-img {
        width: 70px;
    }
    #artical h1.header-font {
        font-size:2rem;
    }
}
@media (min-width:768px) and (max-width:991px) {
    #partners {
        height: 22rem;
    }
    .section-view {
        height: 48rem;
    }
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:55rem;
    }
    #about .max-img {
        padding-top: 12rem;
    }
    #related-news h3{
        font-size: 0.7rem;
    }
    #related-news p {
        font-size:0.6rem;
        margin:0;
    }
}

@media (min-width:992px) and (max-width:1023px) {
    #partners {
        height: 22rem;;
    }
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:55rem;
    }
    #about .max-img {
        padding-top: 2rem;
    }
}
@media (min-width:1024px) {
    .title-img {
        width: 100px;
    }
    #artical h1.header-font {
        font-size:2.5rem;
    }
} 

@media (min-width:1024px) and (max-width:1439px) {
    #partners {
        height: 25rem;
    }
    .section-view {
        height: 44rem;
    }
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:55rem;
    }
}

@media (min-width:1440px) {
    #partners {
        height: 30rem;
    }
    #about-text {
        padding-top: 5rem;
    }
    .title-img {
        width: 150px;
    }
    #artical h1.header-font {
        font-size:3rem;
    }
}

@media (min-width:1440px) and (max-width:1919px) {
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:55rem;
    }
}

@media (min-width:1920px) and (max-width:2559px) {
    #partners {
        height: 380px;
    }
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:55rem;
    }
}
@media (min-width:2560px) {
    #partners {
        height: 450px;
    }
    .section-view {
        height: 60rem;
    }
    #about #about-text{
        order:0;
        text-align: right;
    }
    #about .par-view {
        height:55rem;
    }
}